.abcRioButtonLightBlue {
    width: 100% !important;
}

.back {
    background-image: url('../img/ab1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }